/* some style */

* {
    padding: 0px;
    margin: 0px;
}

.main {
    position: relative;
    width: calc( 50px * 9 );
    overflow: hidden;
}

.field {
    position: relative;
    width: calc( 50px * 9 );
}

.block {
    display: block;
    float: left;
    border: 1px solid lightgray;
    width: 48px;
    height: 48px;
}

.player, .enemy {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    transition-property: top, left, opacity;
    transition-duration: 0.5s;
    border-radius: 25px;
}

.player {
     background-color: magenta;
     z-index: 1;
}

.enemy {
    background-color: green;
    /* z-index: -1; */
}

.dead {
    opacity: 0;
}

.foo {
    opacity: 0.5;
}

.energy {
    display: block;
    height: 20px;
    max-width: calc( 50px * 9 );
    background-color: green;
}

.controls {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: calc( 50px * 9 );
    height: calc( 50px * 9 );
    transform: rotate(45deg);
}

.controls .button {
    display: block;
    float: left;
    background-color: rgba( 0, 0, 0, 0.1 );
    margin: 10px;
    width: calc( 50% - 20px );
    height: calc( 50% - 20px );
    border-radius: 50%;
}