/* some style */

.field {
    position: relative;
    width: calc( 50px * 9 );
}

.block {
    display: block;
    float: left;
    border: 1px solid black;
    width: 48px;
    height: 48px;
}

.player, .enemy {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    transition-property: top, left;
    transition-duration: 0.5s;
}

.player {
     background-color: magenta;
}

.enemy {
    background-color: green;
    z-index: -1;
}